.footer{
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #797979;
    padding: 15px;
    background: #172df4f5;
    border-radius: 10px;
}

.footer ul li{
    list-style: none;
    display: inline-block;
    margin-left: 20px;
}

.fot{
    width: 55px;
    border-radius: 50%;
    align-items: center;
}